VIDISPINE_USERNAME=admin
VIDISPINE_PASSWORD=THE_VIDISPINE_PASSWORD
VIDISPINE_HOST=the.vidispine.hostname
VIDISPINE_PORT=8080

DATABASE_USER=portal
DATABASE_PASSWORD=database-password
DATABASE_HOST=portalawstest.cmtvrocc2rrk.eu-central-1.rds.amazonaws.com

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=portal
RABBITMQ_PASSWORD=p0rtal
RABBITMQ_VHOST=portal

# Has to include the port number since ES defaults to :9200 otherwise
ELASTICSEARCH_URL=https://vpc-portalawstest-f3l45xsdz5olesjbnxfdt3q5x4.eu-central-1.es.amazonaws.com:443
ELASTICSEARCH_USE_MORPHOLOGY=false

NOTIFIER_HOST=notifier
NOTIFIER_PORT=5000

MEMCACHED_HOST=portalawstest.jdronj.0001.euc1.cache.amazonaws.com
MEMCACHED_PORT=11211

DEBUG=false
DEVELOPMENT_SYSTEM=false
RE3_LOCAL=false

PORTAL_CELERY_QUEUES=celery,portal,indexer,indexer_collections,indexer_files,archiver,notifyindexer,re3

PORTAL_CELERY_NUM_WORKERS=5
